<div class="card mb-3">
  <div class="card-header">
    <h3>New Student Application</h3>
  </div>
  <div class="card-body">
    <%= render 'form', student_application: @student_application %>
    <hr>
    <%= link_to 'Back to List', student_applications_path, class: "btn btn-secondary" %>
  </div>
</div>
